* { box-sizing: border-box; }

body {}

.masterDiv { margin: 7%; border: darkblue; border-style: dashed; height: 500px; width: 500px; padding: 2%;}

.listDiv { width: 200px;}

input { border-radius: 1%;}

input.deleteBtn { color: brown; float: right;  }

li { display: table; padding: 10px; background-color: coral; width: 200px;}

.blue { background-color: lightblue; text-decoration: line-through; width: 200px; }

.formDiv { margin-left: 3.5%;}